<DashboardCard avatar="@Icons.Material.Filled.EvStation" title="Alfen Eve Single Pro-line" subheader="ALF-0000307 Socker #1">
    <Body>
        <MudText Typo="Typo.body1">
            Available<br />
            No Power<br />
            7929 kW kWH energy delivered<br />
            11.3 kW
        </MudText>
    </Body>
</DashboardCard>