<DashboardCard avatar="@Icons.Material.Filled.EvStation" title="Alfen Eve Single Pro-line" subheader="ALF-0000307">
    <Body>
        <MudText Typo="Typo.body1">
            Backoffice is connected<br />
            Firmware version 4.14<br />
            Uptime 14 days
        </MudText>
    </Body>
</DashboardCard>