@page "/"

<div>
    <AuthorizeView>
        <Authorized>
            <DashboardRedirect/>
        </Authorized>
        <NotAuthorized>
            <LoginRedirect />
        </NotAuthorized>
    </AuthorizeView>
</div>
