<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

    <targets>
        <target name="allfile" xsi:type="File" fileName="alllogs.log" archiveAboveSize="20971520" maxArchiveFiles="5" layout="${longdate}|${threadid:padding=3}|${level:uppercase=true:padding=5}|${logger}|${message}${exception:format=tostring}"/>
        <target name="logfile" xsi:type="File" fileName="logging.log" archiveAboveSize="20971520" maxArchiveFiles="5" layout="${longdate}|${threadid:padding=3}|${level:uppercase=true:padding=5}|${logger}|${message}${exception:format=tostring}"/>
        <target name="console" xsi:type="ColoredConsole" layout="${longdate}|${threadid:padding=3}|${level:uppercase=true:padding=5:truncate=5}|${logger}|${message}${exception:format=tostring}">
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
        </target>
        <target name="middleware" xsi:type="File" fileName="middleware.log" archiveAboveSize="20971520" maxArchiveFiles="5" layout="${longdate}|${threadid:padding=3}|${level:uppercase=true:padding=5}|${logger}|${message}${exception:format=tostring}"/>
        <target name="p1streamt" xsi:type="File" fileName="p1stream.log" archiveAboveSize="20971520" maxArchiveFiles="5" layout="${longdate}|${threadid:padding=3}|${level:uppercase=true:padding=5}|${logger}|${message}${exception:format=tostring}"/>
        <target name="p1messagest" xsi:type="File" fileName="p1messages.log" archiveAboveSize="20971520" maxArchiveFiles="5" layout="${longdate}|${threadid:padding=3}|${level:uppercase=true:padding=5}|${logger}|${message}${exception:format=tostring}"/>
        <target name="chargingstatet" xsi:type="File" fileName="chargepoint.log" archiveAboveSize="20971520" maxArchiveFiles="5" layout="${longdate}|${threadid:padding=3}|${level:uppercase=true:padding=5}|${logger}|${message}${exception:format=tostring}"/>
        <target name="chargingcostt" xsi:type="File" fileName="chargingcost.log" archiveAboveSize="20971520" maxArchiveFiles="5" layout="">
            <layout xsi:type="LayoutWithHeaderAndFooter">
                <!-- Layout Options -->
                <layout>${longdate};${message}</layout>
                <header>Timestamp;Type;Time;kWh;Cost;Tarif start;Tarif euro/kWh</header>
                <footer>footer</footer>
            </layout>
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="allfile" final="false"/>

        <!--Output hosting lifetime messages to console target for faster startup detection -->
        <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="console" final="true" />

         <!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
        <!--<logger name="Microsoft.*" maxlevel="Info" final="true" />
        <logger name="System.Net.Http.*" maxlevel="Info" final="true" /> -->

        <logger name="p1stream" minlevel="Info" writeTo="p1streamt" final="true"/>
        <logger name="p1messages" minlevel="Debug" writeTo="p1messagest" final="true"/>
        <logger name="chargingstate" minlevel="Trace" writeTo="chargingstatet" final="true"/>
        <logger name="chargingcurrent" minlevel="Info" writeTo="chargingstatet" final="true"/>
        <logger name="chargingcost" minlevel="Trace" writeTo="chargingcostt" final="true"/>
        <logger name="AnalysisDiagnosticAdapter" minlevel="Trace" writeTo="middleware" final="true"/>
        
        <logger name="*" minlevel="Info" writeTo="console" />
        <logger name="*" minlevel="Debug" writeTo="logfile" />
        <!--<logger name="Microsoft.AspNetCore.Hosting.Diagnostics" minlevel="Error" writeTo="console" /> -->
    </rules>
</nlog>
